.Bottom_container{
    width: 100vw;
    background-color: transparent;
    position: absolute;
    padding-bottom: 5vw;
    padding-top: 20vw;
    text-align: center;
}

#Bottom_txt1{
    color: #F2C67E;
    font-size: 3vw;
    padding-bottom: 2.5vw;
}

#Bottom_txt2{
    color: #DC9E65;
    font-size: 1.5vw;
}

#Bottom_txt3{
    color: #DC9E65;
    font-size: 1.5vw;
}

#bottom_line{
    width: 70vw;
    height: 0.15vw;
    padding-bottom: 2.5vw;
    margin-top: 5vw;
}

#bottom_icon{
    width: 3vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 2vw;
}