.Basic_page_container{
    width: 100vw;
    background-image: url("../../../public/main_img/background_img.png");
    height: 100vw;
    background-size: contain;
    margin-top: 4vw;
}


.Basic_page_Content{
    margin-left: 12vw;
    padding-top: 3vw;
}

#basic_page_img{
    width: 50vw;
    margin-left: 13vw;
    margin-top: 4vw;
}

#basic_page_img2{
    width: 63vw;
    margin-left: 13vw;
    margin-top: 15vw;
}