.Introduce_container{
    width: 100vw;
    background-image: url("../../../public/main_img/background_img.png");
    height: 100vw;
    background-size: contain;
    margin-top: 4vw;
}


.Introduce_Content{
    margin-left: 12vw;
    padding-top: 3vw;
}

#Introduce_top_txt{
    background-color:#F0B658;
    width: 40vw;
    height: 3.5vw;
    color: #FFFFFF;
    text-align: center;
    font-size: 2vw;
    font-weight: 550;
    border-radius: 0.5556vw;
    transition: 0.5s;
    line-height: 3.5vw;
}


.Introduce_flex_box{
    display: flex;
    flex-direction: row;
    margin-top: 8vw;
}

.Introduce_flex_box2{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    margin-top: 5vw;
}

#app_screen{
    width: 25vw;
    animation: transopacity 1.1s ease-out 1.5s forwards;
}

@keyframes transopacity {
    0%{
        transform: rotate(0deg);
    }33%{
        transform: rotate(2deg);
    }66%{
        transform: rotate(-2deg);
    }100%{
        transform: rotate(0deg);
    }
}




.Introduce_flex_box2 h1{
    font-size: 4vw;
    color: #F2C67E;
    font-weight: 550
}

.Introduce_flex_box2 h1 a{
    color: #F2C67E;
    animation : color_change 1s ease 3s forwards;
    font-size: 4.2vw;
}

@keyframes color_change {
    from{
        color: #F2C67E;
    }to{
        color: #94D18A;
    }
}


.Introduce_flex_box2 h2{
    font-size: 4vw;
    color: #F2C67E;
    margin-top: -3.5vw;
    margin-left: 19vw;
    font-weight: 550;
}

.Introduce_flex_box2 h3{
    font-size: 2.8vw;
    color: #F2C67E;
    margin-top: 0.8vw;
    font-weight: 400;
}

.Introduce_flex_box2 h4{
    font-size: 1.5vw;
    color: #F2C67E;
    margin-top: -1vw;
    font-weight: 400;
}