//Banner2 스타일
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


//Banner1
#More_info{
    position: absolute;
    margin-top: 30%;
    left: 6%;
    border: none;
    width: 20vw;
    background-color: transparent;
}

//Banner2
#Hover_imgs{
   display: flex;
    
}

#Hover_items{
    display: flex;
    
}

#Hover_items{
    width: 25%;
}
#Mth{
    position: absolute;
    margin-top: 20%;
    left: 23%;
    font-size: 5vw;
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Playfair Display', serif;

}