@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


#login_item{
    margin-top: 160px;   
}


#Gamja_community{
    font-size: 3rem;

}
#google_btn{
    margin-bottom: 20px;
    background-color: white;
    width: 50%;
    height: 2.5vh;
}

#kakao_btn{
    margin-bottom: 20px;
    background-color: black;
    color: white;
    width: 50%;
    height: 2.5vh;
}


#gamja_btn{
    margin-bottom: 20px;
    background-color: rgb(238, 206, 132);
    width: 50%;
    height: 2.5vh;
}