@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.Join_text{
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10%;
    margin-top: -11%;
    
}


#Sign_btn{
    width: 370px;
    height: 60px;
    margin-top: 30px;
    background-color: 91A3AB;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #91A3AB;
    color:#FFFFFF;  
    border: none;  
}

//패스워드 일치여부 이미지
#PwCheck{
    position: absolute;
    margin-top:-52px;
    margin-left: 435px;
}


.Signup_text{
    font-size: 4em;
    font-family: 'Playfair Display', serif;
    padding-right: 180px;
    margin-bottom: 40px;
    margin-top: -30px;
}


#Signcontent{
    margin-bottom: 10px;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2em;
    border: 2px solid;
}



